version: '3'

services:
  go:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: sample-app
    stdin_open: true
    tty: true #コンテナの永続化
    depends_on:
      - mysql
    volumes:
      - ./app:/app
    ports:
      - 8080:8080
    networks:
      - k8s-sample-go-network

  mysql:
    container_name: mysql
    image: mysql:latest
    restart: unless-stopped
    ports:
      - 3306:${DB_PORT}
    expose:
      - ${DB_PORT}
    volumes:
      - ./mysql/migrations:/docker-entrypoint-initdb.d
      - ./mysql/data:/var/lib/mysql
      - ./mysql/config/my.conf:/etc/mysql/conf.d/my.cnf
    # env_file:
    #   - ./app/app.env
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASS}'
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: '${DB_NAME}'
      # MYSQL_USER: '${DB_USER}'
      # MYSQL_PASSWORD: '${DB_PASS}'
      # MYSQL_DATABASE: '${DB_NAME}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 1
    networks:
      - k8s-sample-go-network

networks:
  k8s-sample-go-network:
    name: k8s-sample-go-network
